@import "tailwindcss";

@keyframes bounce {

    0%,
    100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

@layer utilities {
    .animate-bounce-slow {
        animation: bounce 3s infinite;
    }
}

/* Move reCAPTCHA badge to the left */
.grecaptcha-badge {
    width: 70px !important;
    overflow: hidden !important;
    transition: all 0.3s ease !important;
    left: 4px !important;
    right: auto !important;
}

.grecaptcha-badge:hover {
    width: 256px !important;
}